@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 50px;
}
.row{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 277px;
    height: 488px;
    background: #FFF;
    box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.11);
    padding: 20px;
}

.card-header {
    height: 150px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin: 0 auto; 
    margin-top: 44px;
}
.card-header img {
    width: 100%;
    transition: 0.5s;
}
.card-header img:hover{
    transform: scale(1.1);
}

.card-body {
    margin-top: 54px;
}

.card-title {
    color: var(--text-color, #414141);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card-name {
    color: var(--text-color, #414141);
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 15px;
}

.card-price {
    color: var(--text-color, #414141);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 9px;
}

.card-size {
    color: var(--text-color, #414141);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 15px;
}

.card-width-title {
    color: #C4C4C4;
    font-family: Roboto;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-width {
    color: var(--text-color, #414141);
    font-family: Roboto;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 8px;
}

.card-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.card-btn {
    color: #FFF;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 13px 50px;
    border: 0;
    background: var(--main-color, #245462);
    margin-top: 17px;
    cursor: pointer;
    transition: 0.3s;
}
.card-btn:hover{
    opacity: 0.9;
}
.card-btn:active{
    opacity: 0.7;
}